<ion-header>

</ion-header>

<ion-content>
    <ion-item>
        <ion-input type="text" placeholder="Nom du jeu" [(ngModel)]="jeuData.libelleJeux"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="text" placeholder="Année de sortie" [(ngModel)]="jeuData.anneeSortieJeux"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="text" placeholder="Description" [(ngModel)]="jeuData.description"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="text" placeholder="Cross-plateforme" [(ngModel)]="jeuData.crossPlateformeJeux"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="text" placeholder="Genre" [(ngModel)]="jeuData.idGenreJeux"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="text" placeholder="Plateforme" [(ngModel)]="jeuData.idPlateformeJeux"></ion-input>
    </ion-item>

    <ion-item>
        <ion-input type="text" placeholder="Type" [(ngModel)]="jeuData.idTypeJeux"></ion-input>
    </ion-item>
    <ion-button (click)="submit()">Créer</ion-button>
</ion-content>