<div>
    <h1 style="text-align:center;">{{jeuData.libelle}}</h1>
    <br>
    <div style="text-align:left;">
        Année de sortie :
        <p style="color:red;">{{jeuData.annee}}</p>
        <br><br> Description :
        <p style="color:red;">{{jeuData.description}}</p>
        <br><br> Plateforme :
        <p style="color:red;">{{jeuData.plateforme}}</p>
        <br><br>Genre :
        <p style="color:red;">{{jeuData.genre}}</p>
        <br><br>Type :
        <p style="color:red;">{{jeuData.type}}</p>
        <br><br>
    </div>
    <div style="text-align:center">
        <button onclick="window.location.href='/tabs/tab1'" style="font-size: 15px;width: 100px;">Retour</button>
    </div>
</div>