table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #e9d0d0;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(197, 113, 113);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

button {
    color: red;
    width: 100px;
    font-size: 15px;
    background-color: rgb(196, 226, 86);
}