<ion-header>
</ion-header>

<ion-content>
    <h3 style="text-align:center;">Liste des jeux</h3>
    <br>
    <ion-card *ngFor="let jeu of jeuData" style="color:rgb(255, 255, 255); background-color: #3b4ceb;">
        <ion-item style="color: rgb(0, 0, 0);">
            <ion-icon name="game-controller-outline" slot="start"></ion-icon>
            <ion-label>{{jeu.libelle}}</ion-label>
            <ion-button [routerLink]="['/jeu-detail/', jeu.id]" color="medium">Détail</ion-button>
            <ion-button [routerLink]="['/jeu-edit/', jeu.id]" color="dark">Modifier</ion-button>
        </ion-item>
        <div (click)="supprimerJeu(jeu)">
            <ion-icon name="close-circle-outline" class="center" size="large"></ion-icon>
        </div>
        <!-- <a class="brand-logo">
            <img src="assets/croix.png" class="center">
        </a> -->
        <ion-card-content>
            <p>Date de sortie : {{jeu.annee}}</p>
        </ion-card-content>
        <ion-card-content>
            <p>Description : {{jeu.description}}</p>
        </ion-card-content>
    </ion-card>
    <!-- </div> -->
</ion-content>